---
import type { ImageMetadata } from 'astro';

const { filePath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}'
);

if (!images[filePath])
  throw new Error(
    `"${filePath}" does not exist in glob: "/src/assets/*.{jpeg,jpg,png,gif,svg}"`
  );
---

<div
  class="w-full h-[50vw] lg:h-auto bg-center bg-contain bg-no-repeat min-h-[30vh] lg:min-h-[85vh]"
  style={`background-image: url(${images[filePath]()})`}
>
</div>
