---
import WorkImage from './WorkImage.astro';
import 'swiper/css';

interface Props {
  imgPaths: Array<string>;
  id: number;
}

const { imgPaths, id } = Astro.props;
---

<input type="text" class="hidden" id="swiper-id" value={id} />
<div class:list={['swiper', `swiper-${id}`]}>
  <div class="swiper-wrapper">
    {
      imgPaths.map((path) => (
        <div class="swiper-slide">
          <WorkImage filePath={path} />
        </div>
      ))
    }
  </div>
  <!-- If we need navigation buttons -->
  <div class={`swiper-button-prev`}></div>
  <div class={`swiper-button-next`}></div>
</div>
