---
import Container from './Container.astro';
---

<header
  class="w-full bg-[var(--background)] fixed top-0 left-0 z-50 lg:z-auto p-[var(--space-base)]"
  id="site-header"
>
  <Container>
    <a href={`/nina-komel`} class="font-medium">Nina Komel</a>
  </Container>
</header>
