---
import { ClientRouter, fade } from 'astro:transitions';
import '../styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="lg:h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/nina-komel/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <ClientRouter />
  </head>
  <body
    class="flex flex-col justify-between lg:h-full p-[var(--space-base)]"
    transition:animate={fade({ duration: '400ms' })}
  >
    <slot />
  </body>
</html>
